<!DOCTYPE html>
<html>
<head>
<title>GlassSlipper Search Result</title>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- meta tags end -->

<!-- favorite icon starts -->
<link rel="shortcut icon" href="images/common/favicon.ico" type="image/x-icon" />
<!-- favorite icon ends -->

<!-- Google fonts start -->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
<!-- Google fonts end -->

<!-- CSS files start -->
<link href="css/framework.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/colorbox.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/elements.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/hidpi.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/css/skins/pink.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
<!-- CSS files end -->

<!-- JavaScript files start -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/effects.jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo-slider.min.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<!-- JavaScript files end -->
</head>
<body>
<!-- website wrapper starts -->
<div class="websiteWrapper"> 
  
  <!-- main menu wrapper starts -->
  {{#if user}}
    {{>menu_logged_in}}
  {{else}}
    {{>menu_logged_out}}
  {{/if}}
  <!-- main menu wrapper ends -->

  <!-- header wrapper starts -->
  <div class="headerOuterWrapper">
    <div class="headerWrapper"> <a href="" class="mainMenuButton"><span>Menu</span></a></div>
  </div>
  <!-- header wrapper ends --> 
  
  <!-- page wrapper starts -->
  <div class="pageWrapper portfolioOnePageWrapper"> 
    <!-- portfolio wrapper starts -->
    <div class="portfolioOneWrapper"> 
      <div class="portfolioOneItemWrapper"> <div class="portfolioOneItemImageWrapper"><img src={{image_url}} alt=""/></div>
      {{#if output_size}}
      <!-- portfolio item starts  -->
          <div class="portfolioOneItemInfoWrapper">
            <h3 class="portfolioOneItemTitle"><b>You Are a Size</b></h3>
            <h1 id="resultSize">{{output_size}}</h1>
            <form action="/favorites" method="post">
              <input name="brand" value="{{brand}}" type="hidden"> </input>
              <input name="size" value="{{output_size}}" type="hidden"> </input>
              <input name="image_url" value="{{image_url}}" type="hidden"> </input>
              <center><input type="submit" value="Save to Favorites" id="addToFavs"></input></center>
            </form>
          </div>
          <div class="portfolioOneItemButtonsWrapper"><a href="/search" class="portfolioOneExpandButton">Search Again</a><a href="/about" class="portfolioOneDetailsButton">About Us</a></div>
        </div>
        <!-- portfolio item ends --> 
      {{else}}
          <div class="portfolioOneItemInfoWrapper">
            <h1 class="portfolioOneItemTitle"><b>Uh-oh!!!</b></h1>
            <h3>We're still in BETA and don't have your size on file for that brand :(</h3>
            <h5>Try searching for something more common?</h5>
          </div>
          <div class="portfolioOneItemButtonsWrapper"><a href="/search" class="portfolioOneExpandButton">Search Again</a><a href="/about" class="portfolioOneDetailsButton">About Us</a></div>
        </div>
      {{/if}}
    </div>

    <!-- portfolio wrapper ends -->  

  </div>
  <!-- page wrapper ends --> 
  
  <!-- page numbers start -->
  <div class="pageNumbersWrapper">
    
  </div>
  <!-- page numbers end --> 
  
  <!-- footer wrapper starts -->
  <div class="footerWrapper"> 
    <!-- footer logo starts --> 
    <!-- footer social icons wrapper ends --> 
  </div>
  <!-- footer wrapper ends --> 
  
</div>
<!-- website wrapper ends -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48570724-1', 'glassslipper.herokuapp.com');
//  ga('create', 'UA-48570724-1', {'cookieDomain': 'none'});
  ga('send', 'pageview');
</script>
</body>
</html>
