<!DOCTYPE html>
<html>
<head>
<!-- Google Analytics Content Experiment code 2
<script>function utmx_section(){}function utmx(){}(function(){var
k='82881101-2',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
End of Google Analytics Content Experiment code -->

<title>GlassSlipper Shoe Search</title>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- meta tags end -->

<!-- favorite icon starts -->
<link rel="shortcut icon" href="images/common/favicon.ico" type="image/x-icon" />
<!-- favorite icon ends -->

<!-- Google fonts start -->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
<!-- Google fonts end -->

<!-- CSS files start -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/framework.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/colorbox.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/elements.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/hidpi.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/css/skins/pink.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
<!-- CSS files end -->

<!-- JavaScript files start -->
<script type="text/javascript" src="js/jquery.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/effects.jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo-slider.min.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<!-- JavaScript files end -->

</head>
<body>
<!-- website wrapper starts -->
<div class="websiteWrapper landingWrapper"> 
  
  <!-- main menu wrapper starts -->
  {{#if user}}
    {{>menu_logged_in}}
  {{else}}
    {{>menu_logged_out}}
  {{/if}}
  <!-- main menu wrapper ends -->

  <!-- header wrapper starts -->
  <div class="headerOuterWrapper">
    <div class="headerWrapper"> <a href="" class="mainMenuButton"><span>Menu</span></a></div>
  </div>
  <!-- header wrapper ends -->
  
  <!-- page wrapper starts -->
  <!-- <div class="pageWrapper landingPageWrapper"> -->
    <div class="container-fluid">
    <div class="row" id="shoeSearchArea">
      <div class="col-xs-12">
        <form class="form-horizontal shoeSearchForm" action="/result" method="get">
          <fieldset>          
              <!-- {{>alertMessage}} -->
              <div class="control-group">
                  <label class="control-label shoeSearchLabel">I Have the Brand:</label>
              <div class="controls">
                  <select name="input_brand">
                    {{#each brands}}
                      <option value="{{brand.name}}|{{brand.image_url}}">{{brand.name}}</option>
                    {{/each}}
                  </select>
              </div>
              </div>
                <div class="control-group">
                    <label class="control-label shoeSearchLabel">In Size:</label>
                <div class="controls">
                    <select name="input_size">
                      {{#each sizes}}
                          <option value={{size}} id="size">{{size}}</option>
                      {{/each}}
                    </select>
                </div>
                </div>
              <div class="control-group">
                  <label class="control-label shoeSearchLabel">I Want the Brand:</label>
              <div class="controls">
                  <select name="output_brand">
                    {{#each brands}}
                      <option value="{{brand.name}}|{{brand.image_url}}">{{brand.name}}</option>
                    {{/each}}
                  </select>
                  <input type="hidden" name="brandUrl" value={{brand.url}}  id="" />
              </div>
              </div>
            </fieldset>
            <input type="submit" id="shoeSearchSubmit" class="btn btn-info btn-lg" value="Size Me!">
            <p class="hyperlink"> Didn't find your brand? <a href="/addShoe" style="color: blue"> Recommend it to us here </a> </p>
        </form>
      </div>
    </div>
    </div>
  <!-- </div> -->
  <!-- page wrapper ends --> 
  
  <!-- footer wrapper starts -->
  <div class="footerWrapper landingFooterWrapper"> 
  </div>
  <!-- footer wrapper ends --> 
  
</div>
<!-- website wrapper ends -->
<script type="text/javascript" src="js/introHCI.js"></script>
<!--<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48570724-1', 'glassslipper.herokuapp.com');
//  ga('create', 'UA-48570724-1', {'cookieDomain': 'none'});
  ga('send', 'pageview');
-->
<script>
  var defaultSize = '7';
  $("select option").filter(function() {
      //may want to use $.trim in here
      return $(this).text() == defaultSize;
  }).prop('selected', true);
</script>
</body>
</html>

